# Bot for data collection in SEMISH

## Necessary libraries

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from unidecode import unidecode

## Bot

In [3]:
def getData(url):
    resposta = requests.get(url)
    content = resposta.content
    
    site = BeautifulSoup(content, 'html.parser')
    
    authors = site.findAll('div', attrs={'class': 'authors'})
    title = site.findAll('div', attrs={'class': 'title'})

    return treatmentData(authors, title)

def treatmentData(authors, title):
    autores = list(x.text[4:len(x)-4:].split(",") for x in authors)
    titulos = list(x.text[5:len(x)-7:] for x in title)
    
    tmp1 = [] #Lista de titulos
    tmp2 = [] #Lista de autores
    tmp3 = [] #Lista de primeiros nomes
    
    for autor, titulo in zip(autores, titulos):
        tmp3 += [x.split(" ")[0] if x.split(" ")[0] != '' else x.split(" ")[1] for x in autor]
        tmp2 += autor
        tmp1 += ((titulo+",,")*len(autor)).split(",,")[:-1:]
    
    df = pd.DataFrame({"Autor":tmp2, "Primeiro Nome":tmp3,  "Titulos":tmp1})

    return df

## Analysis of results

In [5]:
data2021 = getData('https://sol.sbc.org.br/index.php/semish/issue/view/760')
data2021.to_csv(r'../data-from-SEMISH/data2021.csv', encoding='utf-8', index=False)
data2021.head()

,Autor,Primeiro Nome,Titulos
0,Jean Moraes,Jean,Implementação de um cluster Kubernetes com a p...
1,Elen Lobato,Elen,Implementação de um cluster Kubernetes com a p...
2,Denis Rosário,Denis,Implementação de um cluster Kubernetes com a p...
3,Ubiratan Bezerra,Ubiratan,Implementação de um cluster Kubernetes com a p...
4,Eduardo Cerqueira,Eduardo,Implementação de um cluster Kubernetes com a p...

In [6]:
data2020 = getData('https://sol.sbc.org.br/index.php/semish/issue/view/596')
data2020.to_csv(r'Data/data2020.csv', encoding='utf-8', index=False)
data2020.head()

,Autor,Primeiro Nome,Titulos
0,André Pinheiro,André,O que Acontece após um Hackathon? Um Estudo Em...
1,Cleidson de Souza,Cleidson,O que Acontece após um Hackathon? Um Estudo Em...
2,Nelson Tenório Jr.,Nelson,O que Acontece após um Hackathon? Um Estudo Em...
3,Fernando Figueira Filho,Fernando,O que Acontece após um Hackathon? Um Estudo Em...
4,Leandro de Almeida Melo,Leandro,O que Acontece após um Hackathon? Um Estudo Em...

In [7]:
data2019 = getData('https://sol.sbc.org.br/index.php/semish/issue/view/396')
data2019.to_csv(r'../data-from-SEMISH//data2019.csv', encoding='utf-8', index=False)
data2019.head()

,Autor,Primeiro Nome,Titulos
0,Rodolfo Azevedo,Rodolfo,Abertura do XLVI Seminário Integrado de Softwa...
1,Adailton Lima,Adailton,Abertura do XLVI Seminário Integrado de Softwa...
2,Fabiane Cristina Altino,Fabiane,Indiccalex: áreas do saber a serviço do estudo...
3,Celciane Alves Vasconcelos,Celciane,Indiccalex: áreas do saber a serviço do estudo...
4,Cinthyan Renata Sachs C. de Barbosa,Cinthyan,Indiccalex: áreas do saber a serviço do estudo...

In [8]:
data2018 = getData('https://sol.sbc.org.br/index.php/semish/issue/view/212')
data2018.to_csv(r'../data-from-SEMISH//data2018.csv', encoding='utf-8', index=False)
data2018.head()

,Autor,Primeiro Nome,Titulos
0,José Marcos Silva Nogueira,José,Abertura do XXVI Workshop sobre Educação em Co...
1,Carla Marina C. Paxiúba,Carla,Cara de Aprender - Uma Ferramenta para Trabalh...
2,Celson Pantoja Lima,Celson,Cara de Aprender - Uma Ferramenta para Trabalh...
3,Marcelo de Souza Júnior,Marcelo,Rumo à Melhoria de Produtividade e Sustentabil...
4,Rafael S. Bressan,Rafael,Rumo à Melhoria de Produtividade e Sustentabil...

In [ ]:
data = [data2021, data2020, data2019, data2018]
keys = [2021, 2020, 2019, 2018]
dfData = pd.concat(data, keys=keys).reset_index(level=0)
dfData.rename(columns={'level_0': 'Ano'}, inplace=True)
dfData.reset_index(drop=True, inplace=True)

In [ ]:
dfData.to_csv(r'../data-from-SEMISH//dataSEMISH.csv', encoding='utf-8', index=False)
dfData

      Ano  ...                                            Titulos
0    2021  ...  Implementação de um cluster Kubernetes com a p...
1    2021  ...  Implementação de um cluster Kubernetes com a p...
2    2021  ...  Implementação de um cluster Kubernetes com a p...
3    2021  ...  Implementação de um cluster Kubernetes com a p...
4    2021  ...  Implementação de um cluster Kubernetes com a p...
..    ...  ...                                                ...
329  2018  ...  Extração de dados de fontes textuais: uma abor...
330  2018  ...  Extração de dados de fontes textuais: uma abor...
331  2018  ...  Extração de dados de fontes textuais: uma abor...
332  2018  ...  Sustentabilidade de Foto-memórias na Era Digit...
333  2018  ...  Sustentabilidade de Foto-memórias na Era Digit...

[334 rows x 4 columns]